rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isCouple() {
      return request.auth != null
        && (
          request.auth.uid == "hk9Jmy7qKVdJReYaeRlDvuddVFy1"
          || request.auth.uid == "xH4VGaqQARfIe41fZGIsrzF62uj1"
        );
    }

    match /couple/main/messages/{messageId} {

      allow read: if isCouple();

      allow create: if isCouple()
        && request.resource.data.senderId == request.auth.uid
        && request.resource.data.text is string
        && request.resource.data.text.size() > 0
        && request.resource.data.text.size() <= 4000;

      allow delete: if isCouple()
        && resource.data.senderId == request.auth.uid;

      allow update: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
